:root {
  --blue--logo: #c4d6ef;
  --main--blue: #e7eef8;
  --main--brown: #4b3e36;
  --main--grey: #f8f8f8;
  --main--white: #fffcfc;

  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  color: var(--main--brown);
}
