.userGridImages {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerImages {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}

.noPhotos {
  font-weight: 800;
}

@media only screen and (max-width: 600px) {
  .containerImages {
    grid-template-columns: repeat(3, 130px);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-row-gap: 5px;
  }
}
