.userGridImages {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.containerImages {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 240px;
}

.noPhotos {
  font-weight: 800;
}
