.tagDayPhoto {
  width: 100vw;
}

.section {
  display: flex;
  margin: 10px 0 15px 0;
  width: 100%;
  justify-content: center;
}

.buttons {
  width: 70%;
  display: flex;
  gap: 20px;
  background-color: var(--main--brown);
}

/* --------  Header of Tag day ---------- */

.competionHeader {
  display: flex;
  background-color: var(--main--blue);
  width: 100%;
  height: 150px;
  justify-content: center;
}

.headerBody {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 20px 20px 20px;
  gap: 20px;
}

.tagTitle {
  display: flex;
  max-width: 15%;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 700;
}

.competionTexts {
  display: flex;
  flex-direction: column;
}

.tag {
  font-weight: 700;
}

/* --------  List of example photos  ---------- */

.photosCompetionsList {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.examplesPhotosCompetion {
  /* display: flex; */
  /* width: 70%; */
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(228px, 1fr));
  grid-auto-rows: 240px;
  justify-self: center; */

  display: grid;
  grid-template-columns: repeat(3, 240px);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}

.photoTag {
  width: 230px;
  height: 230px;
  border-radius: 2px;
  object-fit: cover;
  border-radius: 5px;
}

/* --------  List of users photos  ---------- */

.dayPhotos {
  align-items: center;
  justify-content: center;
}
