.tagDayPhoto {
  width: 100vw;
}

.section {
  display: flex;
  margin: 10px 0 15px 0;
  width: 100%;
  justify-content: center;
}

.buttons {
  width: 70%;
  display: flex;
  gap: 20px;
  background-color: var(--main--brown);
}

/* --------  Header of Tag day ---------- */

.competionHeader {
  display: flex;
  background-color: var(--main--blue);
  width: 100%;
  height: 150px;
  justify-content: center;
}

.headerBody {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 20px 20px 20px;
  gap: 20px;
}

.tagTitle {
  display: flex;
  max-width: 15%;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 700;
}

.timer {
  display: flex;
  gap: 5px;
  align-items: center;
}

.competionTexts {
  display: flex;
  flex-direction: column;
}

.tag {
  font-weight: 700;
}

/* --------  List of example photos  ---------- */

.photosCompetionsList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.examplesPhotosCompetion {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}

.photoTag {
  width: 230px;
  height: 230px;
  object-fit: cover;
  border-radius: 5px;
}

/* --------  List of users photos  ---------- */

.dayPhotos {
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .examplesPhotosCompetion {
    grid-template-columns: repeat(3, 130px);
    grid-template-rows: repeat(auto-fill, 1fr);
  }

  .photoTag {
    width: 125px;
    height: 120px;
    border-radius: 2px;
    padding: 0.1rem 0.04rem;
  }

  .headerBody {
    width: 100%;
    padding: 0px 00px 0px 0px;
    gap: 0px;
  }

  .section {
    display: flex;
    margin: 10px 0 15px 0;
    width: 100%;
    justify-content: center;
  }

  .buttons {
    width: 100%;
    display: flex;
    gap: 0px;
    justify-content: space-between;
  }

  .competionTexts {
    width: 35%;
  }

  .text {
    display: flex;
    flex-direction: column;
  }

  .tagTitle {
    font-size: 1.2rem;
  }

  .timer {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .competionTexts {
    display: flex;
    flex-direction: column;
  }
}
